		/*
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
*/

.accordion {
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
  }
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .active, .accordion:hover {
    background-color: #e5a00d; 
  }

  .qr{
      max-width: 150px;
      
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }