

.logo{
    width: 100%;
    margin: auto;
}
.donation-header{
    display: grid;
}
.form-donation{
    margin: auto;
}

.box{
   
    height: 500px;
    background-color: white ;
    border-radius: 5px;
    color: black;
    text-align: center;
    position: relative;
}


#basic{background-image: url('../img/basic2-gray.jpg');}
#onlyOne{background-image: url('../img/onlyOne.jpg');}
#allExtras{background-image: url('../img/alExtras.jpg');}    
#customPay{background-image: url('../img/istockphoto-172871463-612x612.jpg');} 


.donation-img{
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: cover;
    height: 12em;
    max-width: 100%;
    
}

.pricing{
    bottom: 0;
    position: absolute;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    
}
.custom-pricing{
    left: 30% !important;
}
ul{
    list-style-type: none;
}

.qr{
    max-width: 15rem;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.facebookColour{
    color: #1877f2;
}

.telegramColour{
    color: #039be5;
}
.whatsappColour{
    color: #00e676;
}
.shareBox{
    display: grid;
    margin: auto;
    text-align: center;
}
.whtspp, .tlgrm{
    border: 1px solid;
    padding: 5px;
}
.whtspp{
    border-color: #00e676;
}
.tlgrm{
    border-color: #039be5;
}
.tm-address-box{
   text-align: center;
   margin: auto;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 770px) { 
    .whtspp{
        display: none;
    }
 }
